<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.spring.dao.YingpiaotuidingMapper">
    <resultMap id="BaseResultMap" type="com.spring.entity.Yingpiaotuiding">
        <id column="id" property="id" jdbcType="INTEGER"/>
                            <result column="dianyingbianhao" property="dianyingbianhao" jdbcType="VARCHAR"/>
                                    <result column="fenlei" property="fenlei" jdbcType="VARCHAR"/>
                                    <result column="dianyingmingcheng" property="dianyingmingcheng" jdbcType="VARCHAR"/>
                                    <result column="piaojia" property="piaojia" jdbcType="DECIMAL"/>
                                    <result column="goumaishu" property="goumaishu" jdbcType="INTEGER"/>
                                    <result column="xiaoji" property="xiaoji" jdbcType="DECIMAL"/>
                                    <result column="goupiaoren" property="goupiaoren" jdbcType="VARCHAR"/>
                                    <result column="kaichangshijian" property="kaichangshijian" jdbcType="VARCHAR"/>
                                    <result column="tuipiaozhangshu" property="tuipiaozhangshu" jdbcType="INTEGER"/>
                                    <result column="tuikuanjine" property="tuikuanjine" jdbcType="DECIMAL"/>
                                    <result column="tuipiaoyuanyin" property="tuipiaoyuanyin" jdbcType="VARCHAR"/>
                                                    <result column="goupiaoid" property="goupiaoid" jdbcType="INTEGER"/>
                <result column="addtime" property="addtime" jdbcType="VARCHAR"/>
            </resultMap>
    <sql id="Base_Column_List">
        id, dianyingbianhao, fenlei, dianyingmingcheng, piaojia, goumaishu, xiaoji, goupiaoren, kaichangshijian, tuipiaozhangshu, tuikuanjine, tuipiaoyuanyin, goupiaoid, addtime    </sql>
    </mapper>
